In [1]:
############################################################################################################

# import data_lib
import win32com.client as win32
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt    # 그래프를 그리는 패키지

from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="C:/Windows/Fonts/Malgunsl.ttf").get_name()
rc('font', family=font_name)
############################################################################################################



#파일 - 데이터프레임으로 받아오기
fname1 = r"D:\★프로세스 혁신★\22.01월\1. AI 업체, 데이터분석 조사\DATA 모음\코로나 확진자수_22-0325.xlsx"
    

    
# 기본 처리
excel = win32.dynamic.Dispatch('Excel.application')
excel.Visible = False #True
excel.DisplayAlerts = False #True

wb1 = excel.Workbooks.Open(fname1, False, True, None)


pd.options.display.float_format = '{:,.1f}'.format
pd.options.display.max_rows = 100
pd.options.display.max_columns = 20

In [2]:


# =============================================================================
# 
# # 데이터 확인 
# 
# =============================================================================


#데이터 프레임으로 저장, 각 시트 데이터를 df 변환
ws1 = wb1.Worksheets(1)
print(ws1.name)
df1 = pd.DataFrame(ws1.UsedRange())
df1.info()
print("HCprice_all_data_2017_2022.xlsx")
print(df1)



# 엑셀은 닫기 (메모리 정리)
wb1.Close(SaveChanges=False)

데이터
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Columns: 587 entries, 0 to 586
dtypes: object(587)
memory usage: 156.0+ KB
HCprice_all_data_2017_2022.xlsx
                     0        1     2           3           4           5    \
0   ○ 코로나 19발생현황 (해외) []     None  None        None        None        None
1                    국가별       항목    단위  2020.05.01  2020.05.02  2020.05.03
2                     한국  확진자수[명]     명    10,774.0    10,780.0    10,793.0
3                     한국  사망자수[명]     명       248.0       250.0       250.0
4                     중국  확진자수[명]     명    82,874.0    82,875.0    82,877.0
5                     중국  사망자수[명]     명     4,633.0     4,633.0     4,633.0
6                     인도  확진자수[명]     명    33,050.0    35,043.0    37,776.0
7                     인도  사망자수[명]     명     1,074.0     1,147.0     1,223.0
8                     일본  확진자수[명]     명    14,281.0    14,545.0    14,839.0
9                     일본  사망자수[명]     명       432.0       458.0       492.0
10                    대만  확진자수[명]     명       429.0       429.0       432.0
11                    대만  사망자수[명]     명         6.0         6.0         6.0
12                    태국  확진자수[명]     명     2,954.0     2,960.0     2,966.0
13                    태국  사망자수[명]     명        54.0        54.0        54.0
14                   캐나다  확진자수[명]     명    52,056.0    53,657.0    56,714.0
15                   캐나다  사망자수[명]     명     3,082.0     3,223.0     3,566.0
16                   멕시코  확진자수[명]     명    19,224.0    20,739.0    20,739.0
17                   멕시코  사망자수[명]     명     1,859.0     1,972.0     1,972.0
18                    미국  확진자수[명]     명 1,067,289.0 1,100,197.0 1,130,115.0
19                    미국  사망자수[명]     명    62,870.0    64,600.0    66,224.0
20                   브라질  확진자수[명]     명    85,380.0    91,589.0    96,559.0
21                   브라질  사망자수[명]     명     5,901.0     6,329.0     6,750.0
22                    터키  확진자수[명]     명   120,204.0   122,392.0   124,375.0
23                    터키  사망자수[명]     명     3,174.0     3,258.0     3,336.0
24                   프랑스  확진자수[명]     명   129,581.0   130,185.0   130,979.0
25                   프랑스  사망자수[명]     명    24,376.0    24,594.0    24,760.0
26                    독일  확진자수[명]     명   163,009.0   164,077.0   164,967.0
27                    독일  사망자수[명]     명     6,623.0     6,736.0     6,812.0
28                   러시아  확진자수[명]     명   106,498.0   114,431.0   124,054.0
29                   러시아  사망자수[명]     명     1,073.0     1,169.0     1,222.0
30                    영국  확진자수[명]     명   171,253.0   177,454.0   182,260.0
31                    영국  사망자수[명]     명    26,771.0    27,510.0    28,131.0
32                    호주  확진자수[명]     명     6,746.0     6,762.0     6,767.0
33                    호주  사망자수[명]     명        90.0        92.0        93.0

           6           7           8           9    ...          577  \
0         None        None        None        None  ...         None
1   2020.05.04  2020.05.05  2020.05.06  2020.05.07  ...   2022.03.11
2     10,801.0    10,793.0    10,806.0    10,810.0  ...  5,822,626.0
3        252.0       250.0       255.0       256.0  ...      9,875.0
4     82,880.0    82,881.0    82,883.0    82,885.0  ...    112,940.0
5      4,633.0     4,633.0     4,633.0     4,633.0  ...      4,636.0
6     40,263.0    42,533.0    46,711.0    49,391.0  ... 42,980,067.0
7      1,306.0     1,373.0     1,583.0     1,694.0  ...    515,459.0
8     15,057.0    15,231.0    15,354.0    15,463.0  ...  5,546,271.0
9        510.0       521.0       543.0       551.0  ...     25,486.0
10       432.0       438.0       438.0       439.0  ...     21,081.0
11         6.0         6.0         6.0         6.0  ...        853.0
12     2,969.0     2,987.0     2,988.0     2,989.0  ...  3,111,857.0
13        54.0        54.0        54.0        55.0  ...     23,512.0
14    59,474.0    59,844.0    61,159.0    63,496.0  ...  3,335,678.0
15     3,682.0     3,766.0     3,915.0     4,232.0  ...     37,094.0
16    22,088.0    23,471.0    24,905.0    26,025.0  ...  5,575,608.0
17     2,061.0     2,154.0     2,270.0     2,507.0  ...    320,166.0
18 1,157,687.0 1,177,784.0 1,203,502.0 1,223,468.0  ... 78,647,682.0
19    67,674.0    68,689.0    71,022.0    73,039.0  ...    954,913.0
20   101,147.0   105,222.0   114,715.0   125,218.0  ... 29,138,362.0
21     7,025.0     7,288.0     7,921.0     8,536.0  ...    652,829.0
22   126,045.0   127,659.0   129,491.0   131,744.0  ... 14,457,990.0
23     3,397.0     3,461.0     3,520.0     3,584.0  ...     95,954.0
24   131,287.0   131,863.0   132,967.0   137,150.0  ... 22,539,786.0
25    24,895.0    25,201.0    25,531.0    25,809.0  ...    136,642.0
26   165,664.0   165,914.0   167,007.0   168,162.0  ... 16,504,822.0
27     6,866.0     6,982.0     6,993.0     7,275.0  ...    125,023.0
28   134,687.0   145,268.0   155,370.0   165,929.0  ... 17,191,300.0
29     1,280.0     1,356.0     1,451.0     1,537.0  ...    358,911.0
30   186,599.0   190,584.0   194,990.0   201,101.0  ... 19,373,888.0
31    28,446.0    28,734.0    29,427.0    30,076.0  ...    162,482.0
32     6,783.0     6,801.0     6,825.0     6,849.0  ...  3,069,926.0
33        93.0        95.0        95.0        96.0  ...      5,499.0

            578          579          580          581          582  \
0          None         None         None         None         None
1    2022.03.14   2022.03.15   2022.03.16   2022.03.17   2022.03.18
2   6,866,222.0  7,228,550.0  7,629,275.0  8,250,592.0  8,657,609.0
3      10,595.0     10,888.0     11,052.0     11,481.0     11,782.0
4     116,902.0    120,504.0    122,456.0    123,773.0    126,234.0
5       4,636.0      4,636.0      4,636.0      4,636.0      4,636.0
6  42,980,067.0 42,993,494.0 42,996,062.0 42,998,938.0 43,001,477.0
7     515,459.0    515,877.0    515,974.0    516,072.0    516,132.0
8   5,546,271.0  5,772,396.0  5,808,242.0  5,808,242.0  5,911,813.0
9      25,486.0     26,154.0     26,262.0     26,262.0     26,600.0
10     21,288.0     21,363.0     21,402.0     21,492.0     21,518.0
11        853.0        853.0        853.0        853.0        853.0
12  3,111,857.0  3,206,955.0  3,226,697.0  3,250,642.0  3,276,098.0
13     23,512.0     23,778.0     23,848.0     23,918.0     23,995.0
14  3,335,678.0  3,349,647.0  3,360,142.0  3,367,292.0  3,373,405.0
15     37,094.0     37,229.0     36,881.0     36,944.0     36,990.0
16  5,575,608.0  5,605,636.0  5,606,827.0  5,607,845.0  5,613,870.0
17    320,166.0    321,054.0    321,103.0    321,115.0    321,375.0
18 78,647,682.0 78,777,620.0 78,793,916.0 78,865,157.0 78,891,488.0
19    954,913.0    960,144.0    960,703.0    958,609.0    960,194.0
20 29,138,362.0 29,350,134.0 29,368,776.0 29,380,063.0 29,432,157.0
21    652,829.0    654,945.0    655,078.0    655,249.0    655,585.0
22 14,457,990.0 14,550,774.0 14,575,178.0 14,599,792.0 14,622,137.0
23     95,954.0     96,487.0     96,620.0     96,735.0     96,853.0
24 22,539,786.0 22,816,866.0 22,824,960.0 22,938,532.0 23,045,477.0
25    136,642.0    136,976.0    137,147.0    137,293.0    137,465.0
26 16,504,822.0 17,233,729.0 17,432,617.0 17,695,210.0 17,990,141.0
27    125,023.0    125,590.0    125,873.0    126,142.0    126,420.0
28 17,191,300.0 17,376,241.0 17,412,919.0 17,449,438.0 17,484,257.0
29    358,911.0    361,344.0    361,902.0    362,478.0    363,039.0
30 19,373,888.0 19,530,489.0 19,700,956.0 19,820,185.0 19,911,159.0
31    162,482.0    162,738.0    162,873.0    163,095.0    163,248.0
32  3,069,926.0  3,193,065.0  3,216,770.0  3,246,409.0  3,529,331.0
33      5,499.0      5,586.0      5,591.0      5,616.0      5,639.0

            583          584          585          586
0          None         None         None         None
1    2022.03.21   2022.03.22   2022.03.23   2022.03.24
2   9,582,815.0  9,936,540.0 10,427,247.0 10,822,836.0
3      12,757.0     13,141.0     13,432.0     13,902.0
4     132,226.0    134,564.0    137,231.0    139,285.0
5       4,638.0      4,638.0      4,638.0      4,638.0
6  43,004,005.0 43,009,390.0 43,010,971.0 43,012,749.0
7     516,281.0    516,510.0    516,543.0    516,605.0
8   5,966,960.0  6,061,939.0  6,131,791.0  6,153,211.0
9      26,764.0     27,045.0     27,176.0     27,246.0
10     21,905.0     22,003.0     22,091.0     22,188.0
11        853.0        853.0        853.0        853.0
12  3,303,169.0  3,377,410.0  3,398,792.0  3,423,956.0
13     24,075.0     24,334.0     24,417.0     24,497.0
14  3,379,200.0  3,385,054.0  3,397,593.0  3,404,283.0
15     37,020.0     37,099.0     37,169.0     37,209.0
16  5,619,780.0  5,633,928.0  5,634,829.0  5,635,500.0
17    321,619.0    322,072.0    322,092.0    322,107.0
18 78,932,322.0 78,999,760.0 79,015,226.0 79,064,472.0
19    960,935.0    964,198.0    964,473.0    966,780.0
20 29,478,039.0 29,617,266.0 29,630,484.0 29,641,594.0
21    655,940.0    657,102.0    657,205.0    657,302.0
22 14,643,491.0 14,693,026.0 14,707,959.0 14,726,276.0
23     96,954.0     97,267.0     97,347.0     97,437.0
24 23,145,857.0 23,417,844.0 23,442,023.0 23,614,306.0
25    137,578.0    137,777.0    137,929.0    138,049.0
26 18,287,986.0 18,772,331.0 18,994,411.0 19,278,143.0
27    126,646.0    126,929.0    127,193.0    127,522.0
28 17,518,699.0 17,611,401.0 17,637,795.0 17,664,621.0
29    363,563.0    364,901.0    365,373.0    365,802.0
30 20,001,631.0 20,093,766.0 20,319,438.0 20,413,735.0
31    163,386.0    163,511.0    163,679.0    163,929.0
32  3,580,572.0  3,717,546.0  3,756,949.0  3,807,845.0
33      5,665.0      5,730.0      5,736.0      5,763.0

[34 rows x 587 columns]

In [3]:
# =============================================================================
# 
# 
# # data에 대해 알아가는 과정 - 적절한 dataframe 형태로 변환 - ndf1
# 
# 
# =============================================================================

df1.info()
df1.shape
df1.head()
df1.iloc[1,:]

ndf1 = df1.iloc[1:,:]
# ndf1.iloc[2,:]


# 확진자수 추출 - ndf2
list(range(1,34,2))
ndf2 = ndf1.drop(labels = range(3,34,2), axis=0)


# 행/열 바꾸고, date기준 정리 - ndf3
temp = ndf2.transpose()
temp.head(10)

temp.iloc[1:3,:]
temp.columns = temp.iloc[0,:]

ndf3 = temp.drop([0,1,2], axis=0)

print(ndf3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Columns: 587 entries, 0 to 586
dtypes: object(587)
memory usage: 156.0+ KB
0           국가별           한국        중국           인도          일본       대만  \
3    2020.05.01     10,774.0  82,874.0     33,050.0    14,281.0    429.0
4    2020.05.02     10,780.0  82,875.0     35,043.0    14,545.0    429.0
5    2020.05.03     10,793.0  82,877.0     37,776.0    14,839.0    432.0
6    2020.05.04     10,801.0  82,880.0     40,263.0    15,057.0    432.0
7    2020.05.05     10,793.0  82,881.0     42,533.0    15,231.0    438.0
..          ...          ...       ...          ...         ...      ...
582  2022.03.18  8,657,609.0 126,234.0 43,001,477.0 5,911,813.0 21,518.0
583  2022.03.21  9,582,815.0 132,226.0 43,004,005.0 5,966,960.0 21,905.0
584  2022.03.22  9,936,540.0 134,564.0 43,009,390.0 6,061,939.0 22,003.0
585  2022.03.23 10,427,247.0 137,231.0 43,010,971.0 6,131,791.0 22,091.0
586  2022.03.24 10,822,836.0 139,285.0 43,012,749.0 6,153,211.0 22,188.0

0            태국         캐나다         멕시코           미국          브라질  \
3       2,954.0    52,056.0    19,224.0  1,067,289.0     85,380.0
4       2,960.0    53,657.0    20,739.0  1,100,197.0     91,589.0
5       2,966.0    56,714.0    20,739.0  1,130,115.0     96,559.0
6       2,969.0    59,474.0    22,088.0  1,157,687.0    101,147.0
7       2,987.0    59,844.0    23,471.0  1,177,784.0    105,222.0
..          ...         ...         ...          ...          ...
582 3,276,098.0 3,373,405.0 5,613,870.0 78,891,488.0 29,432,157.0
583 3,303,169.0 3,379,200.0 5,619,780.0 78,932,322.0 29,478,039.0
584 3,377,410.0 3,385,054.0 5,633,928.0 78,999,760.0 29,617,266.0
585 3,398,792.0 3,397,593.0 5,634,829.0 79,015,226.0 29,630,484.0
586 3,423,956.0 3,404,283.0 5,635,500.0 79,064,472.0 29,641,594.0

0             터키          프랑스           독일          러시아           영국  \
3      120,204.0    129,581.0    163,009.0    106,498.0    171,253.0
4      122,392.0    130,185.0    164,077.0    114,431.0    177,454.0
5      124,375.0    130,979.0    164,967.0    124,054.0    182,260.0
6      126,045.0    131,287.0    165,664.0    134,687.0    186,599.0
7      127,659.0    131,863.0    165,914.0    145,268.0    190,584.0
..           ...          ...          ...          ...          ...
582 14,622,137.0 23,045,477.0 17,990,141.0 17,484,257.0 19,911,159.0
583 14,643,491.0 23,145,857.0 18,287,986.0 17,518,699.0 20,001,631.0
584 14,693,026.0 23,417,844.0 18,772,331.0 17,611,401.0 20,093,766.0
585 14,707,959.0 23,442,023.0 18,994,411.0 17,637,795.0 20,319,438.0
586 14,726,276.0 23,614,306.0 19,278,143.0 17,664,621.0 20,413,735.0

0            호주
3       6,746.0
4       6,762.0
5       6,767.0
6       6,783.0
7       6,801.0
..          ...
582 3,529,331.0
583 3,580,572.0
584 3,717,546.0
585 3,756,949.0
586 3,807,845.0

[584 rows x 17 columns]

In [4]:

# Date index 설정 및 데이터 타입 변환처리 
ndf3.rename(columns = {'국가별':'Date'},inplace=True)


ndf3 = ndf3.astype({'Date':'datetime64'})
ndf3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584 entries, 3 to 586
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    584 non-null    datetime64[ns]
 1   한국      584 non-null    object
 2   중국      584 non-null    object
 3   인도      584 non-null    object
 4   일본      584 non-null    object
 5   대만      584 non-null    object
 6   태국      584 non-null    object
 7   캐나다     584 non-null    object
 8   멕시코     584 non-null    object
 9   미국      584 non-null    object
 10  브라질     584 non-null    object
 11  터키      584 non-null    object
 12  프랑스     584 non-null    object
 13  독일      584 non-null    object
 14  러시아     584 non-null    object
 15  영국      584 non-null    object
 16  호주      584 non-null    object
dtypes: datetime64[ns](1), object(16)
memory usage: 77.7+ KB

In [5]:
# Date 기준으로 indexing - ndf4
ndf3.set_index('Date', inplace=True)

ndf4 = ndf3.astype('float')


ndf4 = ndf3.replace(['', ' '], np.nan, inplace=False)
ndf4 = ndf4.astype('float')

ndf4.info()

ValueError: could not convert string to float: ''

In [ ]:
ndf4 = ndf3.replace(['', ' '], np.nan, inplace=False)
ndf4 = ndf4.astype('float')

ndf4.info()

In [ ]:
ndf4['호주'].plot(label='Cum', title='호주', c='g')

In [ ]:
# 순증인력 - 칼럼 추가하기 - ndf6
ndf5 = ndf4[:]
print(ndf5.columns)

In [ ]:
target = ['한국', '중국', '인도', '일본', '대만', '태국', '캐나다', '멕시코', '미국', '브라질', '터키',
       '프랑스', '독일', '러시아', '영국', '호주']

# for 문 돌려서 각 국가별로 순증 작업해주기
for i in target:
    
    temp1 = '전날_' + i
    temp2 = '순증_' + i
    
    ndf5[i] = ndf5[i].interpolate()         # 중간에 빠진 데이터 채워넣기

    
    ndf5[temp1] = ndf5[i].shift(1)          # 전날 확진자 
    ndf5[temp2] = ndf5[i] - ndf5[temp1]     # 순증 확진자
    
    # ndf6[[i, temp1, temp2]]
    
    
    #차트 그리기
    ndf5[i].plot(label='Cum', title=i, c='g')
    ndf5[temp2].plot(label='Inc', title=i, c='orange')
    
    plt.legend()
    plt.show()

In [ ]:
# ndf6.columns
ndf5.head()
ndf5.isnull().sum()

In [ ]:
ndf5 = ndf5.fillna(0)
ndf5.isnull().sum()

In [ ]:
# 원하는 칼럼만 가려내기 - ndf7
ndf6 = []
for i in ndf5.columns:
    if "순증" in i:
        ndf6.append(ndf5[i])

ndf6 = pd.DataFrame(ndf6).transpose()

ndf6.shape
ndf6.head()

In [ ]:
# 칼럼 이름 변경하기
ndf6 = ndf6.rename(columns=lambda x: '7)Corvid_'+x)
ndf6.head()