<a href="https://colab.research.google.com/github/freejae98/freejae98.github.io/blob/master/2022-03-28-holidays_chinese.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 중국 휴일 객체 생성 
%pip install Chinese-holiday

Collecting Chinese-holiday
  Downloading Chinese-holiday-0.1.6.tar.gz (5.3 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from Chinese-holiday) (2.23.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from Chinese-holiday) (4.6.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->Chinese-holiday) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->Chinese-holiday) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->Chinese-holiday) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->Chinese-holiday) (1.24.3)
Building wheels for collected packages: Chinese-holiday
  Building wheel for Chinese-holiday (setup.py) ... done
  Created wheel for Chinese-holiday: filename=Chinese_holiday-0.1.6-py3-none-any.whl size=4750 sha256=8dcc9b0d2543ed838b73c8b1cce5405560db1d124e82889fe30838fba7f116d8
  Stored in directory: /root/.cache/pip/wheels/5f/16/95/d11fd21b9f1f7de4a8f5cbe36c5b94bc4e1c9a7d542cb1c727
Successfully built Chinese-holiday
Installing collected packages: Chinese-holiday
Successfully installed Chinese-holiday-0.1.6

In [2]:
from chinese_holiday import is_holiday
import pandas as pd
import numpy as np

# is_holiday('2019-10-10')

In [3]:
start_date = pd.to_datetime('2014-01-01') ## 시작 날짜
end_date = pd.to_datetime('2022-12-31') ## 마지막 날짜
 
## 시작 날짜와 마지막 날짜 사이에 날짜를 생성하고 이를 인덱스로 설정
t_date = pd.date_range(start_date,end_date,freq='d')
type(t_date)

pandas.core.indexes.datetimes.DatetimeIndex

In [4]:
# generate holiday table
holiday_df = pd.DataFrame(columns=['ds','holiday'])
holiday_df['ds'] = sorted(t_date)
holiday_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3287 entries, 0 to 3286
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ds       3287 non-null   datetime64[ns]
 1   holiday  0 non-null      object
dtypes: datetime64[ns](1), object(1)
memory usage: 51.5+ KB

In [5]:
is_holiday('2022-01-02')

True

In [6]:
# x = ['2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16']
temp = np.array(t_date.strftime('%Y-%m-%d'))

# df1.index = df1.index.strftime('%Y-%m-%d')

temp
ans = [is_holiday(i) for i in temp]

ans_pd = pd.DataFrame(t_date, ans)

In [7]:
ans_pd1 = ans_pd.reset_index()
ans_pd1

      index          0
0      True 2014-01-01
1     False 2014-01-02
2     False 2014-01-03
3      True 2014-01-04
4      True 2014-01-05
...     ...        ...
3282  False 2022-12-27
3283  False 2022-12-28
3284  False 2022-12-29
3285  False 2022-12-30
3286   True 2022-12-31

[3287 rows x 2 columns]

In [8]:
ans_pd1.columns
ans_pd1.columns  = ['is_holiday', 'Date']
ans_pd1

      is_holiday       Date
0           True 2014-01-01
1          False 2014-01-02
2          False 2014-01-03
3           True 2014-01-04
4           True 2014-01-05
...          ...        ...
3282       False 2022-12-27
3283       False 2022-12-28
3284       False 2022-12-29
3285       False 2022-12-30
3286        True 2022-12-31

[3287 rows x 2 columns]

In [9]:
ans_pd1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3287 entries, 0 to 3286
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   is_holiday  3287 non-null   bool
 1   Date        3287 non-null   datetime64[ns]
dtypes: bool(1), datetime64[ns](1)
memory usage: 29.0 KB

In [10]:
ans_pd2 = ans_pd1.set_index('Date', inplace=False)
ans_pd2

            is_holiday
Date
2014-01-01        True
2014-01-02       False
2014-01-03       False
2014-01-04        True
2014-01-05        True
...                ...
2022-12-27       False
2022-12-28       False
2022-12-29       False
2022-12-30       False
2022-12-31        True

[3287 rows x 1 columns]

In [11]:
ans_pd2.value_counts()
# ans_pd2[ans_pd2.index < '2022-01-01'].sum()

is_holiday
False         2254
True          1033
dtype: int64

In [12]:
ans_pd3 = ans_pd2['is_holiday'].map(lambda x : 1 if x else 0)
ans_pd3

Date
2014-01-01    1
2014-01-02    0
2014-01-03    0
2014-01-04    1
2014-01-05    1
             ..
2022-12-27    0
2022-12-28    0
2022-12-29    0
2022-12-30    0
2022-12-31    1
Name: is_holiday, Length: 3287, dtype: int64

In [19]:
type(ans_pd3)

pandas.core.series.Series

In [21]:
ans_pd3.to_excel('/content/ch_holidays.xlsx', index=True)