<a href="https://colab.research.google.com/github/freejae98/freejae98.github.io/blob/master/2022_10_18_f_1)_%EC%B2%A0%EA%B0%95_%ED%86%B5%ED%95%A9_(total).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [1]:

# warning msg 무시
import warnings
warnings.filterwarnings('ignore')



############################################################################################################

# import win32com.client as win32
import pandas as pd 
import numpy as np
# import matplotlib.pyplot as plt    # 그래프를 그리는 패키지

# from matplotlib import font_manager, rc
# font_name = font_manager.FontProperties(fname="C:/Windows/Fonts/Malgunsl.ttf").get_name()
# rc('font', family=font_name)

############################################################################################################


pd.options.display.float_format = '{:,.2f}'.format
pd.options.display.max_rows = 100
pd.options.display.max_columns = 50


# 기본 처리
# excel = win32.dynamic.Dispatch('Excel.application')
# excel.Visible = False #True
# excel.DisplayAlerts = False #True




# =============================================================================
# 
# 
# 1-1) 데이터 확인 - df 형태로 변환 : "1. Data_Lake.xlsx" 파일 - ndf1 (1번이 new data)
# 
# 
# =============================================================================

#파일 - 데이터프레임으로 받아오기
# fname1 = r"D:/★프로세스 혁신★/22.01월/1. AI 업체, 데이터분석 조사/4. 데이터 연결/MLOps - 운영관리/Daily Steel Monitoring_엑셀.xlsb"      
fname1 = r"/content/drive/MyDrive/1. Data_Lake.xlsx"


df1 = pd.read_excel(fname1)      
            
# df1 = df1.astype({'Date':'datetime64[ns]'})
# df1.set_index('Date', inplace=True)
# df = df.astype('float')



# wb1 = excel.Workbooks.Open(fname1, False, True, None)


# #데이터 프레임으로 저장, 각 시트 데이터를 df 변환
# ws1 = wb1.Worksheets(1)
# print(ws1.name)
# df1 = pd.DataFrame(ws1.UsedRange())
# df1.info()
# # print("basic_dataset.xlsx")
# print(df1)


# 엑셀은 닫기 (메모리 정리)
# wb1.Close(SaveChanges=False)  



# =============================================================================
# # Data frame 형태로 전환 - 데이터 정리 목적
# =============================================================================

# 1) ndf1 전처리 해주고.
df1.info()
df1.head(10)

# ndf1 = df1.iloc[5:,1:]
# ndf1 = df1.iloc[1:,:]


# ndf1.columns = df1.iloc[0,:]
# print(ndf1.columns)

ndf1 = df1.astype({'Date':'datetime64[ns]'})
ndf1.set_index('Date', inplace=True)

# ndf1.describe(include='all')
# ndf1 = ndf1.drop('6)Contract', axis=1)


ndf1 = ndf1.astype('float')

ndf1.info()




# =============================================================================
# 
# 
# 1-2) 데이터 확인 - df 형태로 변환 : "(STEP_1) 원본.xlsx" 파일 - ndf2 (2번은 예전 데이터)
# 
# 
# =============================================================================

#파일 - 데이터프레임으로 받아오기
# fname2 = r"D:/★프로세스 혁신★/22.09월/철강 MI 실행 추진/철강MI_데이터 수집/(STEP_1) 원본.xlsx"   # 처음에 1회만 해주는 것
fname2 = r"/content/drive/MyDrive/(Total) Data_Lake.xlsx"


df2 = pd.read_excel(fname2) 


# wb2 = excel.Workbooks.Open(fname2, False, True, None)


#데이터 프레임으로 저장, 각 시트 데이터를 df 변환
# ws2 = wb2.Worksheets(1)
# print(ws2.name)
# df2 = pd.DataFrame(ws2.UsedRange())
# df2.info()
# print("basic_dataset.xlsx")
# print(df2)


# 엑셀은 닫기 (메모리 정리)
# wb1.Close(SaveChanges=False)  



# =============================================================================
# # Data frame 형태로 전환 - 데이터 정리 목적
# =============================================================================

# 1) ndf1 전처리 해주고.
df2.info()
df2.head(10)

# ndf1 = df1.iloc[5:,1:]
# ndf2 = df2.iloc[1:,:]


# ndf2.columns = df2.iloc[0,:]
# print(ndf1.columns)

ndf2 = df2.astype({'Date':'datetime64[ns]'})
ndf2.set_index('Date', inplace=True)

# ndf1.describe(include='all')
# ndf1 = ndf1.drop('6)Contract', axis=1)


ndf2 = ndf2.astype('float')

ndf2.info()


# ndf2.columns

# =============================================================================
# 
# 
# 2-1) 데이터 합치기 : ndf2(기존) + ndf1(신규) = ndf3
#  - ndf1의 칼럼이름을 ndf2 기준으로 먼저 변경해줘야 하고 (태블로 연결용)
#  - ndf2에 없는 date에 대해서만 합칠 때 반영해줘야 함, 그리고 일부 계산서식은 재계산 해줘야 함 : MA5 등
#
# 
# =============================================================================

# ndf1(신규)의 칼럼 이름 변경


# 칼럼이름 참고파일 - 데이터프레임으로 받아오기-------------------------------------
fname3 = r"/content/drive/MyDrive/(참고) 각 칼럼이름 변경-태블로 연결용_T.xlsx"

t_df = pd.read_excel(fname3)      

# wb3 = excel.Workbooks.Open(fname3, False, True, None)


#데이터 프레임으로 저장, 각 시트 데이터를 df 변환 - nt_df 생성
# ws3 = wb3.Worksheets("한줄로 통합")
# print(ws3.name)
# t_df = pd.DataFrame(ws3.UsedRange())
# t_df.info()


# ndf1 = df1.iloc[5:,1:]
nt_df = t_df.iloc[:,1:]

# nt_df.columns = t_df.iloc[0,:]
# nt_df = t_df[:]

nt_df.info()

nt_df = nt_df.astype('object')


# 바꿀 값으로 입력
t_key = list(nt_df.columns)
tt_value = list(nt_df.iloc[0])
# len(t_value)

t_value = []    # 리스트안에 있는 것들을 string으로 변환 
for i in tt_value:
    temp = str(i)
    t_value.append(temp)
    
    

col_dic = {}    # 바뀌는 칼럼 이름을 딕셔너리 형태로 저장

# 대문자 변환            
t_key = [i.upper() for i in t_key]
# t_key[0] = t_key[0].upper()


for i in range(0,len(t_key)):
    col_dic[t_key[i]] = t_value[i].upper()  # 영문 대문자 전환, 지울 것은 이미 칼럽 값이 'NAN'으로 들어가 있음 

#ndf1, ndf2의 칼럼도 대문자 전환 - 나중에 합치기 위해

back_value = list(ndf2.columns)     # 나중에 다시 최종 df의 column 변경용 (이건 값)

ndf1.columns = [i.upper() for i in list(ndf1.columns)]
ndf2.columns = [i.upper() for i in list(ndf2.columns)]

back_key = list(ndf2.columns)  # 이건 key로 사용

back_dic = {}

for i in range(0,len(back_key)):
    back_dic[back_key[i]] = back_value[i]


# ndf1의 칼럼이름 변경----------------------------------------
len(ndf1.columns)  #82
len(col_dic.keys())  #82


# t_old = set(ndf1.columns)
# t_new = set(col_dic.keys())
# # t_sum = set(df3.columns)

# len(t_old)
# len(t_new)
# # len(t_sum)

# temp = t_old - t_new
# temp = t_new - t_old


for i in ndf1.columns:  #누락된게 있는지 확인용
    if i not in col_dic.keys():
        print(i)

new_col = []

for i in range(0,len(ndf1.columns)):
    temp = col_dic[ndf1.columns[i]]
    new_col.append(temp)

len(new_col)

#df 진화, 칼럼 이름 통일하여 교체하기
nndf1 = ndf1[:]
nndf2 = ndf2[:]
nndf1.columns = new_col



# ndf1 + ndf2 합쳐서 ndf3 생성----------------------------------------
# df3 = pd.concat([ndf2, ndf1])
# df3 = pd.merge(nndf2, nndf1, left_index=True, right_index=True, how='outer')

# nndf2 = nndf2.reset_index()
# nndf1 = nndf1.reset_index()

# concat 앞서서 중복 열 제거 (NAN 의미)
print(nndf1.columns[nndf1.columns.duplicated(keep=False)])
nndf1 = nndf1.drop('NAN', axis=1)

# old 데이터에 우선순위를 두고 통합 
df3 = pd.concat([nndf2, nndf1])   
df3 = df3.loc[~df3.index.duplicated(keep='first')]


ndf3 = df3.sort_index(ascending=True)



# =============================================================================
# 
# # 1) Date 재설정 + ffill 채우기 + MA5 칼럼 만들기 / 2) ML 예측/값 업데이트 하기
# 
# =============================================================================


# =============================================================================
# # Date 재설정
# =============================================================================
start_date = pd.to_datetime('2015-12-20') ## 시작 날짜  (MA5 만들기 위해 좀더 앞으로 땡김)

# end_date = pd.to_datetime(date.today() - timedelta(days=1)) ## 마지막 날짜 (어제 날짜로 기준 정함)  → 수정필요 : ndf1_2의 마지막 date 값으로.
end_date = ndf3.index[-1]


## 시작 날짜와 마지막 날짜 사이에 날짜를 생성하고 이를 인덱스로 설정
t_date = pd.date_range(start_date,end_date,freq='d')

t_date = pd.DataFrame(t_date, columns=['Date'])
t_date = t_date.astype({'Date':'datetime64[ns]'})

t_date.index.nunique()  #2346


for i in ndf3.columns:   #119개
    
    aa = ndf3[i].dropna(axis=0)
    bb = aa.loc[~aa.index.duplicated(keep='first')]
    cc = bb.sort_index(ascending=True)

    cc = cc.reset_index()       
    cc = cc.astype({'Date':'datetime64[ns]'})
    
    t_date = pd.merge(t_date, cc, how='left', on='Date')    # 이걸 쓰면 됨


t_date.set_index('Date', inplace=True)


sum_df1 = t_date[:]

# 중복 확인
sum_df1.index.nunique() == len(sum_df1)


# =============================================================================
# forward fill 해주고, 주말 일자는 빼주고.
# =============================================================================

sum_df2 = sum_df1.reset_index()    # 정수 인덱스 초기화


# 빈데이터 채우기
sum_df2 = sum_df2.fillna(method='ffill')
sum_df2.isnull().sum()

# 주말 데이터는 삭제 : mo_fill_wd
sum_df2['week'] = sum_df2['Date'].dt.dayofweek

sum_df3 = sum_df2[sum_df2['week'] < 5]

# 'week' 칼럼 삭제
sum_df3 = sum_df3.drop(['week'], axis=1)

sum_df3.set_index('Date', inplace=True)




# =============================================================================
# MA5 만들기, 빈데이터 채우기
# =============================================================================

# 일단 지저분한 칼럼들도 같이 가는걸로 하자. finance data 나중에 보완하게 될 것이고. 

sum_df4 = sum_df3[:]
# sum_df4 = sum_df3.drop(['Year', 'Quater', 'Quater_ver2', 'Month', 'Day'], axis=1)



# 칼럼 이름 바꾸기 : "_"를 " "로 일괄 변경
# temp = "아_름_다_운_강__산"
# temp = temp.replace("_", " ")
# temp

# for i in ds_sum_6.columns:
#     val = i.find("_")
#     if val != -1:
#         temp = i.replace("_", " ")
#         print(i + " - " + temp)
#         ds_sum_6 = ds_sum_6.rename(columns={i:temp})


# 예측대상 변수 연결 
predict_what = '2)열연-중국천진'


sum_df4['MA5'] = sum_df4[predict_what].rolling(5).mean()       # ★ 머신러닝 예측대상 설정 ★ - 변수 연결 : predict_what 
sum_df5 = sum_df4.dropna(subset=['MA5'], how='any', axis=0)


# #5일치 MV 구해서 집어넣기
# mo_fill_wd['MA5'] = mo_fill_wd['Target'].rolling(5).mean()


# RMB 환율이 '0'으로 들어간 row 삭제하기 + 특정 칼럼의 값이 '0'이면 이전 숫자로 채우기 (수식 오류에 대한 대처법) 
index1 = sum_df5[sum_df5['1)환율-RMB'] == 0].index

sum_df6 = sum_df5.drop(index1)

# sum_df5.columns[:116]       # 적용 대상이 되는 칼럼 리스트
len(sum_df6.columns)  #116

for i in sum_df6.columns[:116]:
    
    sum_df6.loc[sum_df6[i] == 0, i] = np.nan


# 빈데이터 채우기
sum_df6.isnull().sum()
sum_df7 = sum_df6.fillna(method='ffill')
sum_df7.isnull().sum()


# =============================================================================
# 최종 df의 칼럼 이름 원복함 - 태블로 연결용
# =============================================================================
new_col = []

for i in range(0,len(sum_df7.columns)):
    temp = back_dic[sum_df7.columns[i]]
    new_col.append(temp)

len(new_col)

#df 진화, 칼럼 이름 통일하여 교체하기
sum_df7.columns = new_col


# 파일 쓰기 - (total)Data_Lake
Total_file = '/content/drive/MyDrive/(Total) Data_Lake.xlsx'

sum_df7.to_excel(Total_file, index=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 83 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         10 non-null     datetime64[ns]
 1   PLVHA00                      5 non-null      float64
 2   SB01032                      5 non-null      float64
 3   SB01063                      3 non-null      float64
 4   SB01083                      0 non-null      float64
 5   SB01084                      0 non-null      float64
 6   SB01119                      0 non-null      float64
 7   SB01125                      5 non-null      float64
 8   SB01126                      5 non-null      float64
 9   SB01142                      5 non-null      float64
 10  SB01152                      5 non-null      float64
 11  SB01180                      5 non-null      float64
 12  SB01195                      5 non-null      float64
 13  SB01233                      5 non-null      float64
 14  SB01261                      5 non-null      float64
 15  SBO1001                      5 non-null      float64
 16  STBLB00                      5 non-null      float64
 17  STCBZ02                      5 non-null      float64
 18  STHAM00                      5 non-null      float64
 19  STHGM00                      5 non-null      float64
 20  STHRE00                      5 non-null      float64
 21  STHRZ02                      5 non-null      float64
 22  STHSA00                      5 non-null      float64
 23  STPGM00                      5 non-null      float64
 24  STRAM00                      5 non-null      float64
 25  STRGM00                      5 non-null      float64
 26  TS01011                      5 non-null      float64
 27  TS01043                      5 non-null      float64
 28  TS01046                      3 non-null      float64
 29  BDI                          7 non-null      float64
 30  BCI                          7 non-null      float64
 31  BPI                          7 non-null      float64
 32  BSI                          7 non-null      float64
 33  Dubai                        4 non-null      float64
 34  Brent                        4 non-null      float64
 35  WTI                          4 non-null      float64
 36  USD                          3 non-null      float64
 37  CNY                          3 non-null      float64
 38  INR                          3 non-null      float64
 39  CNY_2                        3 non-null      float64
 40  INR_2                        3 non-null      float64
 41  P_SS275                      10 non-null     int64
 42  P_SM355                      10 non-null     int64
 43  P_GS                         10 non-null     int64
 44  H_SS275                      10 non-null     int64
 45  I_SS275                      10 non-null     int64
 46  I_SS355                      10 non-null     int64
 47  UT_Price                     10 non-null     int64
 48  I_UT_Price                   10 non-null     int64
 49  Delivery month_1             3 non-null      float64
 50  Pre settle_1                 3 non-null      float64
 51  Open_1                       3 non-null      float64
 52  High_1                       3 non-null      float64
 53  Low_1                        3 non-null      float64
 54  Close_1                      3 non-null      float64
 55  Delivery month_2             3 non-null      float64
 56  Pre settle_2                 3 non-null      float64
 57  Open_2                       3 non-null      float64
 58  High_2                       3 non-null      float64
 59  Low_2                        3 non-null      float64
 60  Close_2                      3 non-null      float64
 61  LME Nickel Cash Official     3 non-null      float64
 62  LME Nickel Warehouse Stocks  3 non-null      float64
 63  철근                           9 non-null      float64
 64  열연                           9 non-null      float64
 65  냉연                           9 non-null      float64
 66  선재                           9 non-null      float64
 67  후판                           9 non-null      float64
 68  flat재고                       9 non-null      float64
 69  long재고                       9 non-null      float64
 70  수입62분광(USD)                  6 non-null      float64
 71  청도62분광(RMB)                  6 non-null      float64
 72  SHA_HRC                      1 non-null      float64
 73  TJ_HRC                       1 non-null      float64
 74  SHA_GI                       1 non-null      float64
 75  원료탄                          2 non-null      float64
 76  HRC avg                      3 non-null      float64
 77  HRC US                       5 non-null      float64
 78  HDG US                       5 non-null      float64
 79  SB01032_2                    3 non-null      float64
 80  Close_1_2                    3 non-null      float64
 81  Close_2_2                    3 non-null      float64
 82  HRC avg_2                    3 non-null      float64
dtypes: datetime64[ns](1), float64(74), int64(8)
memory usage: 6.6 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10 entries, 2022-09-23 to 2022-10-17
Data columns (total 82 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   PLVHA00                      5 non-null      float64
 1   SB01032                      5 non-null      float64
 2   SB01063                      3 non-null      float64
 3   SB01083                      0 non-null      float64
 4   SB01084                      0 non-null      float64
 5   SB01119                      0 non-null      float64
 6   SB01125                      5 non-null      float64
 7   SB01126                      5 non-null      float64
 8   SB01142                      5 non-null      float64
 9   SB01152                      5 non-null      float64
 10  SB01180                      5 non-null      float64
 11  SB01195                      5 non-null      float64
 12  SB01233                      5 non-null      float64
 13  SB01261                      5 non-null      float64
 14  SBO1001                      5 non-null      float64
 15  STBLB00                      5 non-null      float64
 16  STCBZ02                      5 non-null      float64
 17  STHAM00                      5 non-null      float64
 18  STHGM00                      5 non-null      float64
 19  STHRE00                      5 non-null      float64
 20  STHRZ02                      5 non-null      float64
 21  STHSA00                      5 non-null      float64
 22  STPGM00                      5 non-null      float64
 23  STRAM00                      5 non-null      float64
 24  STRGM00                      5 non-null      float64
 25  TS01011                      5 non-null      float64
 26  TS01043                      5 non-null      float64
 27  TS01046                      3 non-null      float64
 28  BDI                          7 non-null      float64
 29  BCI                          7 non-null      float64
 30  BPI                          7 non-null      float64
 31  BSI                          7 non-null      float64
 32  Dubai                        4 non-null      float64
 33  Brent                        4 non-null      float64
 34  WTI                          4 non-null      float64
 35  USD                          3 non-null      float64
 36  CNY                          3 non-null      float64
 37  INR                          3 non-null      float64
 38  CNY_2                        3 non-null      float64
 39  INR_2                        3 non-null      float64
 40  P_SS275                      10 non-null     float64
 41  P_SM355                      10 non-null     float64
 42  P_GS                         10 non-null     float64
 43  H_SS275                      10 non-null     float64
 44  I_SS275                      10 non-null     float64
 45  I_SS355                      10 non-null     float64
 46  UT_Price                     10 non-null     float64
 47  I_UT_Price                   10 non-null     float64
 48  Delivery month_1             3 non-null      float64
 49  Pre settle_1                 3 non-null      float64
 50  Open_1                       3 non-null      float64
 51  High_1                       3 non-null      float64
 52  Low_1                        3 non-null      float64
 53  Close_1                      3 non-null      float64
 54  Delivery month_2             3 non-null      float64
 55  Pre settle_2                 3 non-null      float64
 56  Open_2                       3 non-null      float64
 57  High_2                       3 non-null      float64
 58  Low_2                        3 non-null      float64
 59  Close_2                      3 non-null      float64
 60  LME Nickel Cash Official     3 non-null      float64
 61  LME Nickel Warehouse Stocks  3 non-null      float64
 62  철근                           9 non-null      float64
 63  열연                           9 non-null      float64
 64  냉연                           9 non-null      float64
 65  선재                           9 non-null      float64
 66  후판                           9 non-null      float64
 67  flat재고                       9 non-null      float64
 68  long재고                       9 non-null      float64
 69  수입62분광(USD)                  6 non-null      float64
 70  청도62분광(RMB)                  6 non-null      float64
 71  SHA_HRC                      1 non-null      float64
 72  TJ_HRC                       1 non-null      float64
 73  SHA_GI                       1 non-null      float64
 74  원료탄                          2 non-null      float64
 75  HRC avg                      3 non-null      float64
 76  HRC US                       5 non-null      float64
 77  HDG US                       5 non-null      float64
 78  SB01032_2                    3 non-null      float64
 79  Close_1_2                    3 non-null      float64
 80  Close_2_2                    3 non-null      float64
 81  HRC avg_2                    3 non-null      float64
dtypes: float64(82)
memory usage: 6.5 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1773 entries, 0 to 1772
Columns: 117 entries, Date to MA5
dtypes: datetime64[ns](1), float64(114), int64(2)
memory usage: 1.6 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1773 entries, 2015-12-31 to 2022-10-17
Columns: 116 entries, 1)환율-RMB to MA5
dtypes: float64(116)
memory usage: 1.6 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 82 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   PLVHA00                      1 non-null      object
 1   SB01032                      1 non-null      object
 2   SB01063                      1 non-null      object
 3   SB01083                      1 non-null      object
 4   SB01084                      1 non-null      object
 5   SB01119                      1 non-null      object
 6   SB01125                      1 non-null      object
 7   SB01126                      1 non-null      object
 8   SB01142                      1 non-null      object
 9   SB01152                      1 non-null      object
 10  SB01180                      1 non-null      object
 11  SB01195                      1 non-null      object
 12  SB01233                      1 non-null      object
 13  SB01261                      1 non-null      object
 14  SBO1001                      1 non-null      object
 15  STBLB00                      1 non-null      object
 16  STCBZ02                      1 non-null      object
 17  STHAM00                      1 non-null      object
 18  STHGM00                      1 non-null      object
 19  STHRE00                      1 non-null      object
 20  STHRZ02                      1 non-null      object
 21  STHSA00                      1 non-null      object
 22  STPGM00                      1 non-null      object
 23  STRAM00                      1 non-null      object
 24  STRGM00                      1 non-null      object
 25  TS01011                      1 non-null      object
 26  TS01043                      1 non-null      object
 27  TS01046                      1 non-null      object
 28  SB01032_2                    1 non-null      object
 29  BDI                          1 non-null      object
 30  BCI                          0 non-null      float64
 31  BPI                          0 non-null      float64
 32  BSI                          1 non-null      object
 33  Dubai                        1 non-null      object
 34  Brent                        0 non-null      float64
 35  WTI                          1 non-null      object
 36  USD                          1 non-null      object
 37  CNY                          0 non-null      float64
 38  CNY_2                        1 non-null      object
 39  P_SS275                      1 non-null      object
 40  P_SM355                      0 non-null      float64
 41  P_GS                         0 non-null      float64
 42  H_SS275                      0 non-null      float64
 43  I_SS275                      0 non-null      float64
 44  I_SS355                      0 non-null      float64
 45  UT_Price                     1 non-null      object
 46  I_UT_Price                   0 non-null      float64
 47  Delivery month_1             0 non-null      float64
 48  Pre settle_1                 0 non-null      float64
 49  Open_1                       0 non-null      float64
 50  High_1                       0 non-null      float64
 51  Low_1                        0 non-null      float64
 52  Close_1                      1 non-null      object
 53  Close_1_2                    1 non-null      object
 54  Delivery month_2             0 non-null      float64
 55  Pre settle_2                 0 non-null      float64
 56  Open_2                       0 non-null      float64
 57  High_2                       0 non-null      float64
 58  Low_2                        0 non-null      float64
 59  Close_2                      1 non-null      object
 60  Close_2_2                    1 non-null      object
 61  LME Nickel Cash Official     1 non-null      object
 62  LME Nickel Warehouse Stocks  1 non-null      object
 63  철근                           0 non-null      float64
 64  열연                           0 non-null      float64
 65  냉연                           0 non-null      float64
 66  선재                           0 non-null      float64
 67  후판                           0 non-null      float64
 68  flat재고                       1 non-null      object
 69  long재고                       1 non-null      object
 70  수입62분광(USD)                  1 non-null      object
 71  청도62분광(RMB)                  1 non-null      object
 72  원료탄                          1 non-null      object
 73  HRC avg                      1 non-null      object
 74  HRC avg_2                    1 non-null      object
 75  HRC US                       1 non-null      object
 76  HDG US                       1 non-null      object
 77  SHA_HRC                      1 non-null      object
 78  TJ_HRC                       1 non-null      object
 79  SHA_GI                       1 non-null      object
 80  INR                          0 non-null      float64
 81  INR_2                        0 non-null      float64
dtypes: float64(27), object(55)
memory usage: 784.0+ bytes
Index(['NAN', 'NAN', 'NAN', 'NAN', 'NAN', 'NAN', 'NAN', 'NAN', 'NAN', 'NAN',
       'NAN', 'NAN', 'NAN', 'NAN', 'NAN', 'NAN', 'NAN', 'NAN', 'NAN', 'NAN',
       'NAN', 'NAN', 'NAN', 'NAN', 'NAN', 'NAN', 'NAN'],
      dtype='object')

In [2]:
print(sum_df7)  # (Total) 파일 생성

            1)환율-RMB  1)환율-KRW  1)열연-천진 (local)  1)열연-천진  4)중국-석탄내수  \
Date
2016-01-06      6.00  1,187.00              NaN   306.00     626.60
2016-01-07      6.00  1,193.00              NaN   301.00     625.00
2016-01-08      6.56  1,199.00              NaN   297.09     624.60
2016-01-11      6.00  1,196.00              NaN   297.00     624.40
2016-01-12      6.00  1,208.00              NaN   297.00     623.40
...              ...       ...              ...      ...        ...
2022-10-11      7.00  1,410.00         4,044.00   567.00   2,769.20
2022-10-12      7.00  1,410.00         4,044.00   567.00   2,769.40
2022-10-13      7.18  1,430.40         3,998.55   556.93   2,772.50
2022-10-14      7.18  1,427.00         4,001.64   557.31   2,772.50
2022-10-17      7.18  1,427.00         4,001.64   557.31   2,772.50

            6)Close (local)  6)Close  중국-철근 선물 (local)  중국-철근 선물  2)열연-중국천진  \
Date
2016-01-06              NaN      NaN               NaN       NaN     270.00
2016-01-07              NaN      NaN               NaN       NaN     275.00
2016-01-08              NaN      NaN               NaN       NaN     275.00
2016-01-11              NaN      NaN               NaN       NaN     272.50
2016-01-12              NaN      NaN               NaN       NaN     272.50
...                     ...      ...               ...       ...        ...
2022-10-11         3,782.00   528.43          3,774.00    527.32     562.00
2022-10-12         3,782.00   528.43          3,774.00    527.32     558.00
2022-10-13         3,782.00   528.43          3,774.00    527.32     557.00
2022-10-14         3,762.00   523.94          3,759.00    523.94     557.00
2022-10-17         3,762.00   523.94          3,759.00    523.94     557.00

            미국-열연  유럽-열연   아주열연  베트남열연  2)열연-중국상해    미국-냉연  유럽-냉연   아주냉연  \
Date
2016-01-06    NaN    NaN    NaN    NaN     325.00      NaN    NaN    NaN
2016-01-07    NaN    NaN    NaN    NaN     325.00      NaN    NaN    NaN
2016-01-08    NaN    NaN    NaN    NaN     325.00      NaN    NaN    NaN
2016-01-11    NaN    NaN    NaN    NaN     325.00      NaN    NaN    NaN
2016-01-12    NaN    NaN    NaN    NaN     325.00      NaN    NaN    NaN
...           ...    ...    ...    ...        ...      ...    ...    ...
2022-10-11 793.65 651.31 563.00 582.00     619.00 1,124.34 748.52 635.00
2022-10-12 793.65 650.30 561.00 582.00     619.00 1,124.34 747.36 635.00
2022-10-13 716.49 634.86 559.00 582.00     619.00 1,102.29 752.06 635.00
2022-10-14 716.49 633.56 559.00 582.00     619.00 1,102.29 750.52 635.00
2022-10-17 716.49 633.56 559.00 582.00     619.00 1,102.29 750.52 635.00

            2)중국-Plate상해    미국-후판   아주후판  3)Rebar-중국   아주철근  3)W/Rod-상해  \
Date
2016-01-06        260.50      NaN    NaN         NaN    NaN         NaN
2016-01-07        260.50      NaN    NaN         NaN    NaN         NaN
2016-01-08        260.50      NaN    NaN         NaN    NaN         NaN
2016-01-11        260.50      NaN    NaN         NaN    NaN         NaN
2016-01-12        260.50      NaN    NaN         NaN    NaN         NaN
...                  ...      ...    ...         ...    ...         ...
2022-10-11        585.00 1,455.03 615.00      572.00 579.00      576.00
2022-10-12        585.00 1,455.03 610.00      570.00 579.00      575.00
2022-10-13        585.00 1,455.03 610.00      570.00 579.00      575.00
2022-10-14        585.00 1,455.03 610.00      567.00 577.00      575.00
2022-10-17        585.00 1,455.03 610.00      567.00 577.00      575.00

            3)Billet-중국내수 (local)  ...  8)STLFSI2  8)df gas  8)df gold  \
Date                               ...
2016-01-06                    NaN  ...       0.20      2.27   1,091.90
2016-01-07                    NaN  ...       0.20      2.38       4.08
2016-01-08                    NaN  ...       0.61      2.47       4.12
2016-01-11                    NaN  ...       0.61      2.40   1,096.20
2016-01-12                    NaN  ...       0.61      2.26   1,085.20
...                           ...  ...        ...       ...        ...
2022-10-11               3,720.00  ...      -0.85      8.28   1,717.40
2022-10-12               3,710.00  ...      -0.85      8.28   1,717.40
2022-10-13               3,710.00  ...      -0.85      8.28   1,717.40
2022-10-14               3,720.00  ...      -0.85      8.28   1,717.40
2022-10-17               3,720.00  ...      -0.85      8.28   1,717.40

            8)df AG  8)df CU  8)df WTI  8)df SSEC  8)df CSI300  8)df DJI  \
Date
2016-01-06    13.02     2.13     33.97   3,361.84     3,539.81 16,906.51
2016-01-07    13.02     2.06     63.01   3,125.00     3,294.38 16,514.10
2016-01-08    13.02     2.07     62.55   3,186.41     3,361.56 16,346.45
2016-01-11    13.02     2.02     31.41   3,016.70     3,192.45 16,398.57
2016-01-12    13.02     2.01     30.44   3,022.86     3,215.71 16,516.22
...             ...      ...       ...        ...          ...       ...
2022-10-11   110.88     3.41     87.31   3,238.07     4,066.26 31,104.90
2022-10-12   110.88     3.41     87.31   3,238.07     4,066.26 31,104.90
2022-10-13   110.88     3.41     87.31   3,238.07     4,066.26 31,104.90
2022-10-14   110.88     3.41     87.31   3,238.07     4,066.26 31,104.90
2022-10-17   110.88     3.41     87.31   3,238.07     4,066.26 31,104.90

            8)df IXIC  8)df US500  8)df KS11  9)Close  9)Open  9)High  9)Low  \
Date
2016-01-06   4,835.77    1,990.26   1,925.43    12.16   12.16   12.16  12.16
2016-01-07   4,689.43    1,943.09   1,904.33    12.16   12.16   12.16  12.16
2016-01-08   4,643.63    1,922.03   1,917.62    12.16   12.16   12.16  12.16
2016-01-11   4,637.99    1,923.67   1,894.84    11.17   11.06   11.17  11.06
2016-01-12   4,685.92    1,938.68   1,890.86    11.17   11.06   11.17  11.06
...               ...         ...        ...      ...     ...     ...    ...
2022-10-11  11,633.57    3,932.69   2,411.42    23.04   22.94   23.04  22.88
2022-10-12  11,633.57    3,932.69   2,411.42    23.04   22.94   23.04  22.88
2022-10-13  11,633.57    3,932.69   2,411.42    23.04   22.94   23.04  22.88
2022-10-14  11,633.57    3,932.69   2,411.42    23.04   22.94   23.04  22.88
2022-10-17  11,633.57    3,932.69   2,411.42    23.04   22.94   23.04  22.88

            9)Volume  9)Change  10)Close  10)Open  10)High  10)Low  10)Volume  \
Date
2016-01-06    210.00      0.01     18.48    18.57    18.76   18.41  46,870.00
2016-01-07    210.00      0.01     17.53    18.03    18.03   17.51  50,300.00
2016-01-08    210.00      0.01     17.15    17.85    17.95   17.15  12,850.00
2016-01-11  2,430.00     -0.08     16.86    17.44    17.56   16.79  91,100.00
2016-01-12  2,430.00     -0.08     16.67    16.96    16.96   16.37  30,290.00
...              ...       ...       ...      ...      ...     ...        ...
2022-10-11  2,580.00      0.01     54.82    53.04    54.84   53.04  39,830.00
2022-10-12  2,580.00      0.01     54.82    53.04    54.84   53.04  39,830.00
2022-10-13  2,580.00      0.01     54.82    53.04    54.84   53.04  39,830.00
2022-10-14  2,580.00      0.01     54.82    53.04    54.84   53.04  39,830.00
2022-10-17  2,580.00      0.01     54.82    53.04    54.84   53.04  39,830.00

            10)Change    MA5
Date
2016-01-06      -0.04 269.30
2016-01-07      -0.05 270.80
2016-01-08      -0.02 271.90
2016-01-11      -0.02 272.50
2016-01-12      -0.01 273.00
...               ...    ...
2022-10-11       0.05 564.80
2022-10-12       0.05 563.40
2022-10-13       0.05 561.80
2022-10-14       0.05 560.20
2022-10-17       0.05 558.20

[1769 rows x 116 columns]